.principal-div {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 420px;
  height: 450px;
  background-color: lightskyblue;
  border-radius: 6px;
}

.screen {
  border: 2px solid black;
  padding: 10px;
  margin: 7px;
  height: 83px;
  text-align: end;
  background-color: white;
  font-size: 30px;
  border-radius: 6px;
}

.bottom-divs {
  display: flex;
  flex-direction: row; /* this positions the bottom divs next to each other */
  margin:10px;
}

.number-button{

  width: 70px;
  height: 70px;
  margin: 5px;
  background-color: lightgray;
}

.ops-button{

  width: 70px;
  height: 70px;
  margin: 5px;
  background-color: lightgray;

}

#clear {
  height: auto;
  width: 82.5%;
}

#backspace {
  height: auto;
  width: 70px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 95px auto;
}
